
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,500&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;

}
.max-width{
      max: width 1300px; 
      padding:0 80px;
      margin:auto;
}
/*navbar styling*/
.navbar{
position:fixed;
width:100%;
background:red
;
font-family:'ubuntu',sans-serif;
}
.navbar .max-width{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color:cadetblue

}
.navbar .menu li{
      list-style:none;
      display:inline-block;
}

}
.navbar .menu li a{
    color:bisque
}

}